version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
      time: "06:00"
      timezone: "Asia/Tokyo"
    versioning-strategy: increase
    groups:
      docusaurus:
        patterns:
          - "@docusaurus/*"
          - "docusaurus"
          - "docusaurus-*"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "06:00"
      timezone: "Asia/Tokyo"
