version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
      time: "06:00"
      timezone: "Asia/Tokyo"
    versioning-strategy: increase
    groups:
      react-libraries:
        patterns:
          - "react"
          - "react-dom"
          - "react-*"
          - "@types/react"
          - "@types/react-dom"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "06:00"
      timezone: "Asia/Tokyo"
